header{
    width: 100%;
    padding: 10px var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    position: absolute;
    left: 0;
    top: 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.logo__object{
    font-size: 2.3rem;
}
.logo p{
    line-height: 1.15rem;
}
header nav{
    display: flex;
    gap: 1.2rem;
}